# Exclure tout par défaut
*

# Inclure explicitement les fichiers/dossiers nécessaires
!package.json
!package-lock.json
!index.html
!vite.config.js
!eslint.config.js
!src
!src/**
!public
!public/**
!.env.example

