# Dépendances
Thumbs.db
# Système

.nyc_output/
coverage/
# Test

.tmp/
.temp/
*.temp
*.tmp
# Temporaire

.stylelintcache
.eslintcache
.parcel-cache/
.cache/
# Cache

*.sw?
*.sln
*.njsproj
*.ntvs*
*.suo
.DS_Store
.idea
!.vscode/extensions.json
.vscode/*
# Éditeur

.env.production.local
.env.test.local
.env.development.local
.env.local
.env
# Environnement

lerna-debug.log*
pnpm-debug.log*
yarn-error.log*
yarn-debug.log*
npm-debug.log*
*.log
logs
# Logs

build/
dist/
# Production

pnpm-lock.yaml
yarn.lock
package-lock.json
node_modules/

